@media (max-width: 480px) { form { width: 100%; } }
@media (min-width: 481px) and (max-width: 960px) { form { width: 80%; } }
@media (min-width: 769px) and (max-width: 1024px) { form { width: 60%; } }
@media (min-width: 1025px) { form { width: 400px; } }

.contact-container {
    display: flex;
    justify-content: center;
}

.contact-container form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container label {
    margin-bottom: 5px;
}

.contact-container input {
    width: 100%;
    margin-bottom: 20px;
    height: 32px;
    
}

.contact-container form div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-container textarea, .contact-container input {
    border: none;
    outline: none;
    padding: 5px;
    border-radius: .25rem;
}

.contact-container textarea {
    margin-bottom: 20px;
    resize: none;
}

.contact-container input:focus, .contact-container textarea:focus {
    border: none;
    /* outline: 3px solid #004daa; */
    box-shadow:0 0 10px #004daa;
    -moz-box-shadow:0 0 10px #004daa;
    -webkit-box-shadow:0 0 10px #004daa;
}